.personality {
    display: grid;
    padding: 20px;
    grid-template-columns: 200px calc(100% - 220px);
    grid-template-areas:
        "b b"
        "i a";
    gap: 20px;
    &__bg {
        grid-area: b;
        min-height: 100px;
        max-height: 150px;
        overflow: hidden;
    }

    &__bg-img {
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
    }

    &__img-bl {
        grid-area: i;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__about {
        grid-area: a;
    }

    &__name {
        font-size: 24px;
        font-weight: 500;
        //margin-bottom: 10px;
    }
}
