.header {
    padding: 10px 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7c7c7;
    &__logo {
        flex: 0 1 150px;
    }
    &__logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
