.dialog {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:not(:last-child) {
        border-bottom: 1px #ccc solid;
    }

    &:hover {
        color: #fff;
        transition: 0.2s ease-in-out;
        background: rgba(133, 133, 133, 0.7);
    }

    &.active {
        background: rgb(133, 133, 133);
    }
}
