.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    &__header {
        flex: 0 1 100%;
        height: 100px;
    }
    &__sidebar {
        flex: 1 0 200px;
    }

    &__content {
        flex: 0 1 calc(100% - 200px);
    }

    &__footer {
        flex: 0 1 100%;
        height: 60px;
    }
}

.form {
    display: grid;
    grid-template-columns: calc(100% - 200px) 200px;
    &__textarea {
        border: none;
        border-radius: 10px 0 0 10px;
        background: rgba(#ccc, 0.3);
        padding: 20px;
        outline: none;
        resize: none;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        &:focus {
            background: rgba(#ccc, 1);
            transition: all 0.3s ease-in-out;
        }
    }

    &__send {
        border: none;
        background: #ccc;
        border-radius: 0 10px 10px 0;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background: #000;
            color: #fff;
        }
    }
}
