.page {
    display: grid;
    grid-template-areas:
        "h h"
        "s c"
        "f f";
    grid-template-rows: 100px 1fr 60px;
    grid-template-columns: 200px calc(100% - 200px);
    min-height: 100vh;
    &__header {
        grid-area: h;
    }
    &__sidebar {
        grid-area: s;
    }

    &__footer {
        grid-area: f;
    }
    &__content {
        grid-area: c;
    }
}

.form {
    display: grid;
    grid-template-columns: calc(100% - 200px) 200px;
    &__textarea {
        border: none;
        border-radius: 10px 0 0 10px;
        background: rgba(#ccc, 0.3);
        padding: 20px;
        outline: none;
        resize: none;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        &:focus {
            background: rgba(#ccc, 1);
            transition: all 0.3s ease-in-out;
        }
    }

    &__send {
        border: none;
        background: #ccc;
        border-radius: 0 10px 10px 0;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background: #000;
            color: #fff;
        }
    }
}
