.dialogs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 160px);
    min-height: 500px;
    &__items {
        flex: 0 1 30%;
        background: #eeeeee;
        //height: 100%;
    }
    &__form {
        margin-top: 40px;
    }

    &__messages {
        flex: 0 1 70%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

.messages {
    &__items {
        flex: 1 1 auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &__item {
        margin-bottom: 10px;
    }
}
